.app{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd3;

}
.app__green{
  position: absolute;
  height:17vh;
  background-color:#009688;
  width:100vw;
}
.app__body{
  position: relative;
  top:70px;
  height: 90vh;
  width: 90vw;
  z-index: 1;
  display:flex;
  margin-top:-120px;
  background-color: #ededed;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75);

}